<h1>Información del registro</h1>
<p>Nombre: <%= @registro.nombre %></p>
<p>Teléfono: <%= @registro.telefono %></p>
<p>Email: <%= @registro.email %></p>
<p>Nombre Comunidad: <%= @registro.nombre_comunidad %></p>
<p>Comentario: <%= @registro.comentario %></p>
