<%= form_for [@startup_weekend, @startup], url: startup_weekend_startups_path do |f| %>
  <% if @startup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@startup.errors.count, "error") %> prohibited this startup from being saved:</h2>
      <ul>
      <% @startup.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-12">
      <div class="field">
        <%= f.label :logo, 'URL del Logotipo' %>
        <%= f.text_field :logo %>
      </div>
      <div class="field">
        <%= f.label :nombre, 'Nombre de la Startup' %>
        <%= f.text_field :nombre %>
      </div>
      <div class="field">
        <%= f.label :pagina, 'Sitio Web de la Startup' %>
        <%= f.text_field :pagina %>
      </div>
      <div class="field">
        <%= f.label :descripcion, 'Descripcion de la Startup' %>
        <%= f.text_area :descripcion %>
      </div>

    </div>
  </div>

  <div class="actions">
    <%= f.submit 'Agregar mi Startup', class: 'btn-default' %>
  </div>
<% end %>
