<div class="evento-title">
  <div class="container">
    <div class="row">
        <div class="col-10">
          <h2><%= @startup.nombre %></h2>
        </div>
        <div class="col-2 push-rigth">
          <%= link_to 'regresar', startup_weekend_path(@startup.startup_weekend), class: 'btn-default-dark' %>
        </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row datos-evento">
    <div class="col-5">
      <br>
      <%= image_tag imagen_handler(@startup.logo), alt: @startup.nombre, class: 'logotipo' %>
      <br>
      <small class='colorBase'>de <%= link_to @startup.startup_weekend.titulo , startup_weekend_path(@startup.startup_weekend) %></small>
      <p>
        <%= @startup.descripcion %>
      </p>
      <ul class="actions">
        <li>
          <%= internet_handler(@startup.pagina) if @startup.pagina? %>
        </li>
      </ul>
    </div>

    <div class="col-7 ">
      <div class="back-gray row">
        <div class="col-4">
          <%= image_tag 'user.svg', class: 'integrante'%>
          <div class="nombre">
            <h5>
              <%= link_to 'Agregar Integrante', root_path %>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
