<<div class="evento-title">
  <div class="container">
    <div class="row">
        <div class="col-12">
          <h2><%= @idea_presentada.nombre %></h2>
        </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row datos-evento">
    <div class="col-5">
      <br>
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" class="logotipo"> <br>
      <%= link_to @idea_presentada.startup_weekend.titulo , startup_weekend_path(@idea_presentada.startup_weekend) %>
      <br>
      <small><%= @idea_presentada.emprendedor %></small>
      <p>
        <%= @idea_presentada.descripcion %>
      </p>
      <ul class="actions">
        <li>
          <%= link_to '<i class="fa fa-twitter"></i>'.html_safe , root_path %>
        </li>
        <li>
          <%= link_to '<i class="fa fa-facebook"></i>'.html_safe , root_path %>
        </li>
        <li>
          <%= link_to '<i class="fa fa-globe"></i>'.html_safe , root_path %>
        </li>
      </ul>
    </div>

    <div class="col-7 back-gray">
      <br>
      <div class="equipo row">
        <div class="col-4 keep-center">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" class="integrante">
          <div class="nombre">
            <h5>MAria de la Concepcion Gomez de Oca</h5>
          </div>
        </div>
        <div class="col-4 keep-center">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" class="integrante">
          <div class="nombre">
            <h5>Gize Carolina Bonilla Madrazo</h5>
          </div>
        </div>
        <div class="col-4 keep-center">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" class="integrante">
          <div class="nombre">
            <h5>Ismael Guillermo Marin Cabrera</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
