<div class="col-4">
  <div class="card">
    <div class="card-image">
      <div class="topic <%= startup_weekend.status_class %>">
        <%= startup_weekend.status %>
      </div>
      <%= image_tag imagen_handler(startup_weekend.logo), alt: startup_weekend.titulo, class: 'logotipo' %>
    </div>
    <div class="card-header">
      <div class="row">
        <div class="col-9">
          <%= startup_weekend.titulo %>
        </div>
        <div class="col-3 push-rigth">
          <%= twitter_icon(startup_weekend.twitter) if startup_weekend.twitter? %>
          <%= facebook_icon(startup_weekend.facebook) if startup_weekend.facebook? %>
          <%= internet_icon(startup_weekend.sitioweb) if startup_weekend.sitioweb? %>
        </div>
      </div>
    </div>
    <div class="card-copy">
      <p>
        <%= startup_weekend.descripcion %>
      </p>
    </div>
  </div>
</div>
