<div class="evento-title">
  <div class="container">
    <div class="row">
        <div class="col-10">
          <h2><%= @startup_weekend.titulo %></h2>
        </div>
        <div class="col-2 push-rigth">
          <%= link_to 'regresar', root_path, class: 'btn-default-dark' %>
        </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row datos-evento">
    <div class="col-5">
      <br>
      <%= image_tag imagen_handler(@startup_weekend.logo), alt: @startup_weekend.titulo, class: 'logotipo' %>
      <br>
      <small class='colorBase'><%= @startup_weekend.fecha.strftime('%d / %B / %Y') %></small>
      <p>
        <%= @startup_weekend.descripcion %>
      </p>
      <ul class="actions">
        <li>
          <%= twitter_handler(@startup_weekend.twitter) if @startup_weekend.twitter? %>
        </li>
        <li>
          <%= facebook_handler(@startup_weekend.facebook) if @startup_weekend.facebook? %>
        </li>
        <li>
          <%= internet_handler(@startup_weekend.sitioweb) if @startup_weekend.sitioweb? %>
        </li>
      </ul>
      <div class="equipo">
        <h3>Organizadores</h3>
        <div class="row">
          <% @startup_weekend.organizadores.each do |organizador| %>
            <div class="col-4">
              <img src="<%= organizador.imagen%>" class="persona">
              <div class="nombre">
                <h5><%= organizador.nombre%></h5>
              </div>
            </div>
          <% end %>
          <div class="col-4">
            <%= image_tag 'user.svg', class: 'persona'%>
            <div class="nombre">
              <h5>Quieres ser organizador?
                <a href="mailTo:<%= @startup_weekend.correo %>">Escríbeles <i class="fa fa-smile-o"></i></a>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-7 ">
      <div class="back-gray">
        <div class="row">
          <div class="col-7">
            <h4><i class="fa fa-lightbulb-o"></i> Ideas Trabajadas</h4>
          </div>
          <div class="col-5 push-rigth">
            <% if @startup_weekend.status_class == 'presente' || @startup_weekend.status_class == 'pasado' %>
              <%= link_to 'Agrega una startup seleccionada', new_startup_weekend_startup_path(@startup_weekend), class: 'btn-default' %>
            <% end %>
          </div>
        </div>
        <% if @startup_weekend.startups.count < 1 %>
          <small>No existen ideas aun</small>
        <% else %>
          <p>
            <small><%= @startup_weekend.startups.count %> ideas trabajadas.</small>
          </p>
          <div class="cards row">
          <% @startup_weekend.startups.each do |startup| %>
          <div class="col-4">
            <div class="card-event">
              <div class="card-image">
                <%= link_to (image_tag imagen_handler(startup.logo), alt: startup.nombre, class: 'logotipo'), [startup.startup_weekend, startup] %>
              </div>
              <div class="card-header">
                <div class="row">
                  <div class="col-12">
                    <%= startup.nombre %>
                  </div>
                </div>
              </div>
              <div class="card-copy">
                <p>
                  <%= startup.descripcion.truncate(150) %>
                </p>
              </div>
            </div>
          </div>
          <% end %>
        </div>
        <% end %>
        <hr>
        <h4><i class="fa fa-lightbulb-o"></i> Ideas Generadas</h4>
        <% if @startup_weekend.ideas_presentadas.count < 1 %>
          <small>No existen ideas aun</small>
        <% else %>
          <p>
            <small><%= @startup_weekend.ideas_presentadas.count %> ideas presentadas.</small>
          </p>
          <% @startup_weekend.ideas_presentadas.each do |idea| %>
            <div class="idea">
              <h5><%= idea.nombre %></h5>
              <h6>por <%= idea.emprendedor %></h6>
              <p>
                <%= idea.descripcion %>
              </p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
