<div class="evento-title">
  <div class="container">
    <div class="row">
        <div class="col-12">
          <h2>Evento Nombre</h2>
        </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row datos-evento">
    <div class="col-5">
      <br>
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" class="logotipo"> <br>
      <small class='colorBase'>FEchas</small>
      <p>
        decripcion
      </p>
      <ul class="actions">
        <li>
          <%= link_to '<i class="fa fa-twitter"></i> @usernametwitter'.html_safe , root_path %>
        </li>
        <li>
          <%= link_to '<i class="fa fa-facebook"></i> nombrevento'.html_safe , root_path %>
        </li>
        <li>
          <%= link_to '<i class="fa fa-globe"></i> www.evento.com'.html_safe , root_path %>
        </li>
      </ul>
      <div class="equipo">
        <div class="row">
          <div class="col-4">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" class="persona">
            <div class="nombre">
              <h5>Gize Carolina Bonilla Madrazo</h5>
            </div>
          </div>
          <div class="col-4">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" class="persona">
            <div class="nombre">
              <h5>Gize Carolina Bonilla Madrazo</h5>
            </div>
          </div>
          <div class="col-4">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" class="persona">
            <div class="nombre">
              <h5>Gize Carolina Bonilla Madrazo</h5>
            </div>
          </div>
          <div class="col-4">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" class="persona">
            <div class="nombre">
              <h5>Gize Carolina Bonilla Madrazo</h5>
            </div>
          </div>
          <div class="col-4">
            <%= image_tag 'user.svg', class: 'persona'%>
            <div class="nombre">
              <h5>Quieres ser organizador?
                <%= link_to 'Escríbeles <i class="fa fa-smile-o"></i>'.html_safe, 'mailTo:email@email.com' %>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-7 back-gray">
      <br>
      <%= render partial: 'shared/card_event' %>
    </div>
  </div>
</div>
