<!DOCTYPE html>
<html>
<head>
  <title>Startuplife</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="author" content="Gize Bonilla, Ismael Marin">
  <meta name="description" content="Este es el sitio para todas las nuevas startups en México, queremos estar al pendiente desde su nacimiento hasta su actual trayectoria.">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="wrapper">

      <header>
        <%= render partial: 'shared/header'%>
      </header>

      <div id="content">
          <%= yield %>
      </div>

      <footer>
        <%= render partial: 'shared/footer'%>
      </footer>

    </div>

</body>
</html>
